.videoSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoPlayer{
    width: 1024px;
    height: 520px !important;
}
.videoTitle{
    padding: 0% 10%;
    font-size: 24px;
    font-weight: 700;
}
.eatchVideo{
    background-color: antiquewhite;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 10px;
}
.disabled {
  opacity: 0.5; /* or any other visual style to indicate the video is disabled */
  cursor: not-allowed;
}
@media only screen and (max-width: 600px) {

}

@media only screen and (min-device-width: 578px) and (max-device-width: 1024px) {

}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1448px) {
}